@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var-black: 10, 10, 10;
  --var-white: 255, 255, 255;
}

body {
  color: rgb(var(--var-white));
  background: rgb(var(--var-black));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-custom-gradient-text {
    background: linear-gradient(
      211.13deg,
      #ffca30 10.39%,
      #ff6580 29.98%,
      #ff01a2 49.87%,
      #b94ddc 66.3%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
